<%
  # Get the image size
  image = image_size(slug)

  # Define the orientation height
  if orientation == "portrait"
    scroll_height = 960
  elsif orientation == "landscape"
    scroll_height = 640
  end
%>


<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <%= stylesheet_link_tag "devices/base" %>
    <%= stylesheet_link_tag "devices" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>
<body>

<div class="marvel-device iphone4s <%= color %> <%= orientation %>">
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="sensor"></div>
    <div class="speaker"></div>
    <div class="screen" <% if image.height > scroll_height %>style="overflow-y: scroll;"<% end %>>
        <%= image_tag "comps/#{slug}.jpg" %>
    </div>
    <div class="home"></div>
    <div class="bottom-bar"></div>
</div>

</body>
</html>